<table class="table">
	<thead>
		<th>Picture</th>
		<th>Name</th>
		<th>Age</th>
		<th>Gender</th>
		<th>Video Count</th>
	</thead>
	<% @speakers.each do |speaker| %>
	<tr>
		<td>
		<% video = speaker.videos.first %>
		<% 
		url_queries = Rack::Utils.parse_query URI(video.original_url).query
		video_url = url_queries["v"] 
		%>
		<%= link_to controller: 'speakers', action: 'show', id: speaker.id do %>
			<img src=<%= get_thumbnail(video_url) %> alt="">
		<% end %>
		</td>
		<td><%= full_name_of(speaker) %></td>
		<td><%= age_range_of(speaker) %></td>
		<td><%= speaker.gender ? 'Male' : 'Female' %></td>
		<td><%= speaker.videos.count %></td>
	</tr>
	<% end %>
</table>