<table class="table">
	<thead>
		<th>Video</th>
		<th>Topic</th>
		<th>Speaker</th>
	</thead>
	<% @videos.each do |video| %>
		<% 
		url_queries = Rack::Utils.parse_query URI(video.original_url).query
		video_url = url_queries["v"] 
		%>
		<tr>
			<td>
				<%= link_to controller: 'videos', action: 'show', id: video.id do %>
					<img src=<%= get_thumbnail(video_url) %> alt="">
				<% end %>
			</td>
			<td>
				<%= link_to controller: 'topics', action: 'show', id: video.topic.id do %>
					<%= video.topic.name %>
				<% end %>
			</td>
			<td>
				<%= link_to controller: 'speakers', action: 'show', id: video.speaker.id do %>
					<%= full_name_of(video.speaker) %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>