<div class="topics delete main">
	<div class="container">
		<h1>Delete Topic: <%= @topic.name if @topic %></h1>
		<p>
		<%= link_to topics_path do %>
		<span class="glyphicon glyphicon-backward"></span>
		All Topics
		<% end %>
		</p>
		<table class="table">
			<tr>
				<th>Name</th>
				<th># of Videos</th>
				<% if @layout_style == 'Admin' %>
				<th>ID</th>
				<th>Created at</th>
				<th>Updated at</th>
				<th>Actions</th>
				<% end %>
			</tr>
			<% if @topic %>
			<tr>
				<td><%= @topic.name %></td>
				<td><%= @topic.videos.count %></td>
				<% if @layout_style == 'Admin' %>
				<td><%= @topic.id %></td>
				<td><%= @topic.created_at %></td>
				<td><%= @topic.updated_at %></td>
				<td>
					<%= link_to "View", controller: 'topics', action: 'show', id: @topic.id %>
					<%= link_to "Edit", controller: 'topics', action: 'edit', id: @topic.id %>
				</td>
				<% end %>
			</tr>
			<% end %>
			</table>
		<%= form_for @topic, method: :destroy do |f| %>
			<div class="form-group">
				<%= f.submit "Delete", :disable_with => 'Deleteing...', data: {confirm: "Are you sure you want to delete the topic '#{@topic.name}'?"}, class: 'btn btn-danger' %>
			</div>
		<% end %>  
	</div>
</div>
