<div class="topics index main">
<div class="container">

	<h2><i>Japanese Language</i></h2>
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="selectLanguageIndex" data-toggle="dropdown" aria-expanded="true">
	  Switch Languages
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="selectLanguageIndex">
			<% Language.order("languages.name ASC").each do |language| %>
			<li role="presentation"><a role="menuitem" href="#"><%= language.name %></a></li>	<!-- can add class 'disabled' -->
			<% end %>
	    <li role="presentation" class="divider"></li>
	    <li role="presentation"><a role="menuitem" href="#"><span class="glyphicon glyphicon-plus"></span> Add Language</a></li>
	  </ul> <!-- .dropdown-menu -->
	</div> <!-- .dropdown -->
	
<h2>
	<span>Topics</span>
	|
	<%= link_to "Speakers", speakers_path %>
</h2>

<h4><%= pluralize(@topics.size, "topic") %></h4>

	<% if @layout_style == 'Admin' %>
		<p><%= link_to "+ Add topic", new_topic_path %></p>
	<% end %>

	<!-- <div id="searcharea">
    <input type="search" name="search" id="search" class="form-control" placeholder="Name or Company...">
  </div>
  <div id="update"></div> -->

<div class="table-responsive">
	<table class="table">
		<tr>
			<% @abc.each do |letter| %>
				<th><a href="#<%= letter %>"><%= letter %></a></th>
			<% end %>
		</tr>
	</table>
</div>


<table class="table table-hover">


	<tr>
		<th>Title A~Z</th>
		<th># of Videos</th>
		<% if @layout_style == 'Admin' %>
		<th>Actions</th>
		<% end %>
	</tr>
	
	<% @abc.each do |letter| %>

	<tr>
		<th><a href="#<%= letter %>" id="<%= letter %>"><strong><%= letter %></strong></a></th>
		<th></th>
		<% if @layout_style == 'Admin' %>
		<th></th>
		<% end %>
	</tr>

		<% @topics.each do |topic| %>
			<tr>
				<% if topic.name[0] == letter %>
				<td><%= link_to controller: 'topics', action: 'show', id: topic.id do %><%= topic.name %><% end %></td>
				<td>( <%= topic.videos.count %> )</td>
				<% if @layout_style == 'Admin' %>
				<td>
					<%= link_to "Edit", controller: 'topics', action: 'edit', id: topic.id %>
					<%= link_to "Delete", controller: 'topics', action: 'delete', id: topic.id %>
				</td>
				<% end %>
				<% end %>
			</tr>
		<% end %>

	<% end %>


</table>

<div class="table-responsive">
	<table class="table">
		<tr>
			<% @abc.each do |letter| %>
				<th><a href="#<%= letter %>"><%= letter %></a></th>
			<% end %>
		</tr>
	</table>
</div>

</div>
</div>