<div class="languages topics main">
	<div class="container">

		<h1><%= link_to language_path(@language.id) do %><%= @language.name %><% end %> <small>topics</small></h1>

		<%= render 'shared/language_index_options' %>

		<hr>

		<table class="table">

			<thead>
				<th>Topic</th>
				<th># of videos in specified language</th>
			</thead>

			<% @language.topics.order("topics.name ASC").each do |topic| %>
			<tr>
				<td>
					<%= link_to language_topic_path(topic.id, language_id: @language.id) do %>
					<%= topic.name %>
					<% end %>
				</td>
				<td><%= Video.where(language_id: @language.id, topic_id: topic.id).count %></td>
			</tr>
			<% end %>

		</table>

	</div>
</div>