<div class="topics new main">
	<div class="container">
		<!-- <h1>New Topic</h1> -->
		<ol class="breadcrumb row">
		  <li><%= link_to "Topics", topics_path %></li>
		  <li class="active">New Topic</li>
		</ol>
		<%= form_for @topic do |f| %>

			<%= error_messages_for(@topic) %>

			<div class="form-group">
				<%= f.label :name %>
				<%= f.text_field :name, placeholder: 'Topic name...', tabindex: 1, class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= f.submit "Submit", :disable_with => 'Submiting...', tabindex: 2, class: 'btn btn-primary' %>
			</div>
			
		<% end %>
	</div>
</div>
