<div class="topics show main">
	<div class="container">
	
		<h1>
			<%= link_to language_videos_path(@language.id) do %>
				<%= @language.name %>
			<% end %>
		</h1>
		<h3><%= @topic.name %></h3>

		<table class="table">
			<thead>
				<th>Thumbnail</th>
				<th>Speaker</th>
				<th>Duration</th>
			</thead>
			<% @videos.each do |video| %>
				<% 
				url_queries = Rack::Utils.parse_query URI(video.original_url).query
  			video_url = url_queries["v"] 
  			%>
				<% if video.topic_id == @topic.id %>
					<tr>
						<td><%= link_to controller: 'videos', action: 'show', id: video.id do %><img src=<%= get_thumbnail(video_url) %> alt=""><% end %></td>
						<td><%= link_to controller: 'speakers', action: 'show', id: video.speaker.id do %><%= full_name_of(video.speaker) %><% end %></td>
						<td>duration...</td>
					</tr>
				<% end %>
			<% end %>
		</table>


	</div>
</div>
