<div class="topics show main">
	<div class="container">
		<h1>Show Topic: <%= @topic.name if @topic %></h1>
		<p>
		<%= link_to controller: 'topics', action: 'index' do %>
		<span class="glyphicon glyphicon-backward"></span>
		All Topics
		<% end %>
		</p>
		<table class="table">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th># of Videos</th>
				<th># of Speakers</th>
				<th>Created at</th>
				<th>Updated at</th>
				<th>Actions</th>
			</tr>
			<% if @topic %>
			<tr>
				<td><%= @topic.id %></td>
				<td><%= @topic.name %></td>
				<td><%= "@topic.videos.count" %></td>
				<td><%= @topic.speakers.count %></td>
				<td><%= @topic.created_at %></td>
				<td><%= @topic.updated_at %></td>
				<td>
					<%= link_to "Edit", controller: 'topics', action: 'edit', id: @topic.id %>
					<%= link_to "Delete", controller: 'topics', action: 'delete', id: @topic.id %>
				</td>
			</tr>
			<% end %>
		</table>
		<h2>Videos for <%= @topic.name if @topic %></h2>
		<%= link_to "+ Add a video for this topic", controller: 'videos', action: 'add', topic_id: @topic.id %>
		<table class="table">
			<tr>
				<th>Title</th>
				<th>Speaker</th>
				<th>Duration</th>
			</tr>
			<!-- loop through videos table -->
		</table>
	</div>
</div>
