<div class="topics show main">
	<div class="container">
		<h1><%= link_to "Topics", topics_path %> / <%= @topic.name if @topic %></h1>
		<table class="table">
			<tr>
				<th>Name</th>
				<th># of Videos</th>
				<% if @layout_style == 'Admin' %>
				<th>ID</th>
				<th>Created at</th>
				<th>Updated at</th>
				<th>Actions</th>
				<% end %>
			</tr>
			<% if @topic %>
			<tr>
				<td><%= @topic.name %></td>
				<td><%= @topic.videos.count %></td>
				<% if @layout_style == 'Admin' %>
				<td><%= @topic.id %></td>
				<td><%= @topic.created_at %></td>
				<td><%= @topic.updated_at %></td>
				<td>
					<%= link_to "Edit", controller: 'topics', action: 'edit', id: @topic.id %>
					<%= link_to "Delete", controller: 'topics', action: 'delete', id: @topic.id %>
				</td>
				<% end %>
			</tr>
			<% end %>
			</table>
		<h3>Videos</h3>
		<table class="table">
			<tr>
				<th>Thumbnail</th>
				<th>Speaker</th>
				<th>Duration</th>
			</tr>
			<% @videos.each do |video| %>
				<% if video.topic_id == @topic.id %>
					<tr>
						<td><%= link_to controller: 'videos', action: 'show', id: video.id do %><img src="http://placehold.it/64x36" alt=""><% end %></td>
						<td><%= link_to controller: 'speakers', action: 'show', id: video.speaker.id do %><%= full_name_of(video.speaker) %><% end %></td>
						<td>duration...</td>
					</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>
