<div class="languages delete main">
	<div class="container">

		<h1><%= @language.name %></h1>

		<p>
			<%= link_to controller: 'languages', action: 'index' do %>
				<span class="glyphicon glyphicon-backward"></span>
				All Languages
			<% end %>
		</p>

		<table class="table">
			<tr>
				<th>Name</th>
				<th># of Videos</th>
				<th># of Speakers</th>
				<% if @layout_style == 'Admin' %>
				<th>Id</th>
				<th>Created At</th>
				<th>Updated At</th>
				<th>Actions</th>
				<% end %>
			</tr>
			<tr>
				<td><%= @language.name %></td>
				<td><%= @language.videos.count %></td>
				<td><%= @language.speakers.count %></td>
				<td><%= @language.id %></td>
				<td><%= @language.created_at %></td>
				<td><%= @language.updated_at %></td>
				<td>
					<%= link_to "View", controller: 'languages', action: 'show', id: @language.id %>
					<%= link_to "Edit", controller: 'languages', action: 'edit', id: @language.id %>
				</td>
			</tr>
		</table>

		<%= form_for :language, url: { controller: 'languages', action: 'destroy', id: @language.id } do |f| %>

			<div class="form-group">
				<%= f.submit "Delete", :disable_with => 'Deleting...', data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
			</div>

		<% end %>  

	</div>
</div>