<div class="languages index main">
	<div class="container">
		<h1>
			<%= link_to "Topics", topics_path %>
			|
			<%= link_to "Speakers", speakers_path %>
			|
			<strong>Languages</strong>
		</h1>
		<% if @layout_style == 'Admin' %>
			<p><%= link_to "+ Add Language", controller: 'languages', action: 'add' %></p>
		<% end %>
		<table class="table">
			<tr>
				<th>Languages A~Z</th>
				<th># of Videos</th>
				<th># of Speakers</th>
				<% if @layout_style == 'Admin' %>
				<th>Actions</th>	
				<% end %>
			</tr>
			<% @languages.each do |language| %>
				<tr>
					<td><%= link_to controller: 'languages', action: 'show', id: language.id do %><%= language.name %><% end %></td>
					<td><%= language.videos.count %></td>
					<td><%= language.speakers.count %></td>
					<% if @layout_style == 'Admin' %>
					<td>
						<%= link_to "Edit", controller: 'languages', action: 'edit', id: language.id %>
						<%= link_to "Delete", controller: 'languages', action: 'delete', id: language.id %>
					</td>
					<% end %>
				</tr>
			<% end %>
		</table>
	</div>
</div>