<div class="languages new main">
	<div class="container">

		<!-- <h1>New Language</h1> -->

		<ol class="breadcrumb row">
			<li><%= link_to "Languages", languages_path %></li>
			<li>New language</li>
		</ol>

		<%= form_for :language, url: { controller: 'languages', action: 'create' } do |f| %>

			<div class="form-group">
				<%= f.label :name %>
				<%= f.text_field :name, placeholder: 'Language name...', class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= f.submit "Create", :disable_with => 'Creating...', class: 'btn btn-primary' %>
			</div>

		<% end %>  

	</div>
</div>