<div class="users_delete container">

	<div class="row">

		<div class="col-sm-12">

			<h1>Delete Account</h1>
			
			<%= form_for :user, :url => {:controller => "users", :action => "destroy"} do |f| %>

				<%= error_messages_for(@user) %>

				<div class="form-group">
					<label for="users_delete_textarea"><h3>Let us know why you're leaving (optional)</h3></label>
					<textarea name="" class="form-control" id="users_delete_textarea" cols="30" rows="3" placeholder="I'm leaving because..."></textarea>
				</div>

				<div class="form-group">
					<%= f.label :password %>
					<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
				</div>

				<div class="form-group">
					<%= f.submit "Delete Account", class: "btn btn-primary", :disable_with => 'Deleting...', data: { confirm: "Are you sure you want to completely delete #{@user.username}'s account?" } %>
				</div>
			  
				<p>Change your mind? <%= link_to "Return to profile", :controller => "user_pages", :action => "index" %></p>
				
			<% end %>

			</div> <!-- col-sm-6 -->

		</div> <!-- row -->
	  
</div> <!-- users_add sign_up container -->
