<div class="users_show">
	
	<%= render "shared/header_container" %>

	<div class="content container">

		<%= render "shared/profile_navigation" %>

		<div class="main_content row">

			<%= render "shared/profile_photo_section" %>

			<%= render "shared/profile_#{@view}" %>

			<%= render "shared/profile_actions" %>

		</div> <!-- main_content row -->
		
	</div> <!-- content container -->

</div> <!-- .user_pages -->