<div class="users_show">
	
	<%= render "shared/profile/header_container" %>

	<div class="content container">

		<%= render "shared/profile/navigation" %>

		<div class="main_content row">

			<% unless @layout_style == 'Admin' %>
				<%= render "shared/profile/photo_section" %>	
			<% end %>

			<%= render "shared/profile/#{@view}" %>

			<% unless @layout_style == 'Admin' %>
				<%= render "shared/profile/actions" %>	
			<% end %>

		</div> <!-- main_content row -->
		
	</div> <!-- content container -->

</div> <!-- .user_pages -->