<div class="users_show">
	
	<%= render "shared/profile/header_container" %>

	<div class="content container">

		<%= render "shared/profile/navigation" %>

		<div class="main_content row">

			<%= render "shared/profile/photo_section" %>

			<%= render "shared/profile/#{@view}" %>

			<%= render "shared/profile/actions" %>

		</div> <!-- main_content row -->
		
	</div> <!-- content container -->

</div> <!-- .user_pages -->