<div class="users_show">
	
	<%= render "application/header_container", foo: @foo %>

	<div class="content container">

	<!-- TABS START -->

		<%= render "application/profile_navigation", foo: @foo %>

		<div class="main_content row">

			<%= render "application/profile_photo_section", foo: @foo %>

			<!-- render different view based on URL param 'view' -->
			<%= render "application/profile_#{@view}", foo: @foo %>

			<%= render "application/profile_actions", foo: @foo %>

		</div> <!-- main_content row -->
		
	</div> <!-- content container -->

</div> <!-- .user_pages -->