<div class="languages videos main">
	<div class="container">

		<h1><%= @language.name %></h1>

		<!-- render 'shared/language_index_options' -->

		<%= params.inspect %>

		<hr>

		<table class="table">
			<thead>
				<th>Video</th> 
				<th>
					<%= link_to language_videos_path(@language, order: "topic") do %>
						<strong>Topic <% if params[:order] == "topic" %><span class="caret"></span><% end %></strong>
					<% end %>
				</th>
				<th>
					<%= link_to language_videos_path(@language, order: "speaker") do %>
						<strong>Speaker <% if params[:order] == "speaker" %><span class="caret"></span><% end %></strong>
					<% end %>
				</th>
				<th>
					<%= link_to language_videos_path(@language, order: "added") do %>
						<strong>Added <% if params[:order] == "added" %><span class="caret"></span><% end %></strong>
					<% end %>
				</th>
			</thead>
			<% @videos.each do |video| %>
				<% 
				url_queries = Rack::Utils.parse_query URI(video.original_url).query
				video_url = url_queries["v"] 
				%>
				<tr>
					<td>
						<%= link_to controller: 'videos', action: 'show', id: video.id do %>
							<img src=<%= get_thumbnail(video_url) %> alt="">
						<% end %>
					</td>
					<td>
						<%= link_to controller: 'topics', action: 'show', id: video.topic.id do %>
							<%= video.topic.name %>
						<% end %>
					</td>
					<td>
						<%= link_to controller: 'speakers', action: 'show', id: video.speaker.id do %>
							<%= full_name_of(video.speaker) %>
						<% end %>
					</td>
					<td><%= video.created_at.strftime("%B/%d/%Y") %></td>
				</tr>
			<% end %>
		</table>

	</div>
</div>