<div class="languages videos main">
	<div class="container">

		<h1><%= @language.name %></h1>

		<table class="table">
			<thead>
				<th></th> 
				
					<% if params[:order_type] == 'cba' %>
					
						<th>
							<%= link_to language_videos_path(@language, order: "topic", order_type: 'abc') do %>
								<strong>
									Topic
									<% if @order == "topic" %>
										(Z-A) <i class="fa fa-caret-up"></i>
									<% end %>
								</strong>
							<% end %>
						</th>

						<th>
							<%= link_to language_videos_path(@language, order: "speaker", order_type: 'abc') do %>
								<strong>
									Speaker
									<% if @order == "speaker" %>
										(Z-A) <i class="fa fa-caret-up"></i>
									<% end %>
								</strong>
							<% end %>
						</th>

						<th>
							<%= link_to language_videos_path(@language, order: "added", order_type: 'abc') do %>
								<strong>
									Added
									<% if @order == "added" %>
										(Old-New) <i class="fa fa-caret-up"></i>
									<% end %>
								</strong>
							<% end %>
						</th>

					<% else %>

						<th>
							<%= link_to language_videos_path(@language, order: "topic", order_type: 'cba') do %>
								<strong>
									Topic
									<% if @order == "topic" %>
										(A-Z) <i class="fa fa-caret-down"></i>
									<% end %>
								</strong>
							<% end %>
						</th>

						<th>
							<%= link_to language_videos_path(@language, order: "speaker", order_type: 'cba') do %>
								<strong>
									Speaker
									<% if @order == "speaker" %>
										(A-Z) <i class="fa fa-caret-down"></i>
									<% end %>
								</strong>
							<% end %>
						</th>

						<th>
							<%= link_to language_videos_path(@language, order: "added", order_type: 'cba') do %>
								<strong>
									Added
									<% if @order == "added" %>
										(New-Old) <i class="fa fa-caret-down"></i>
									<% end %>
								</strong>
							<% end %>
						</th>

					<% end %>

			</thead>
			<% @videos.each do |video| %>
				<% 
				url_queries = Rack::Utils.parse_query URI(video.original_url).query
				video_url = url_queries["v"] 
				%>
				<tr>
					<td>
						<%= link_to controller: 'videos', action: 'show', id: video.id do %>
							<img src=<%= getThumbnail(video_url) %> alt="">
						<% end %>
					</td>
					<td>
						<%= link_to controller: 'topics', action: 'show', id: video.topic.id do %>
							<%= video.topic.name %>
						<% end %>
					</td>
					<td>
						<%= link_to controller: 'speakers', action: 'show', id: video.speaker.id do %>
							<%= full_name_of(video.speaker) %>
						<% end %>
					</td>
					<td><%= video.created_at.strftime("%B/%d/%Y") %></td>
				</tr>
			<% end %>
		</table>

	</div>
</div>