<div class="videos show main">
	<div class="container">
		<h1>
			<%= link_to controller: 'speakers', action: 'show', id: @video.speaker.id do %>
				<%= full_name_of(@video.speaker) %>
			<% end %>
			: 
			<%= link_to controller: 'topics', action: 'show', id: @video.topic.id do %>
				<%= @video.topic.name %>
			<% end %>
		</h1>
		<% if @layout_style == 'Admin' %>
		<table class="table">
			<tr>
				<th>ID</th>
				<th>Created at</th>
				<th>Updated at</th>
				<th>Actions</th>
			</tr>
			<% if @video %>
			<tr>
				<td><%= @video.id %></td>
				<td><%= @video.created_at %></td>
				<td><%= @video.updated_at %></td>
				<td>
					<%= link_to "Edit", controller: 'videos', action: 'edit', id: @video.id %>
					<%= link_to "Delete", controller: 'videos', action: 'delete', id: @video.id %>
				</td>
			</tr>
			<% end %>
		</table>
		<% end %>

		<div class="video_instance">
			<iframe width="640" height="390" src="https://www.youtube.com/embed/<%= @video_url %>" frameborder="0" allowfullscreen></iframe>
			<%= form_for :playlist, url: { controller: 'playlists', action: 'update' } do |f| %>

			<p>Add this video to your playlist:</p>
			<%= f.submit "Submit", :disable_with => 'Submiting...' %>
				
			<% end %>
			  
		</div>

	</div>
</div>
