<div class="videos_study_index container">
	
	<h1>Study Options</h1>

	<%= form_for :video, :url => {:controller => "videos", :action => "init_study_session"} do |f| %>
			
	<%= f.label :study_time %><br />
	<%= f.text_field :study_time %>

	<p>
		<i>Remember: only put time you know you can complete</i>
	</p>

<br>
	<!-- for each videos as video -->
	<% @videos.each do |video| %>
	<div>
		<%= image_tag('speaker_thumbnails/'+video.thumbnail_filename, :size => '50x60') %>
		<p>Duration: <%= format_seconds(video.duration) %> <!-- helper to format correctly --></p>
		<p>Speaker: <%= video.speaker_name %></p>
		<p>Created: <%= video.created_at.strftime("%d %b. %Y") %></p>
		<!-- sessions completed -->
		<!-- last viewed -->
	</div>
	<!-- end -->
	<% end %>

  <%= submit_tag "Get_Native", class: "btn btn-primary" %>
	
	<% end %>
	  


</div>