<%= form_for @collocation, remote: true do |f| %>
	
	<%= error_messages_for @collocation %>
		
	<div class="form-group">

		<%= f.hidden_field :playlist_video_id, value: playlist_video_id %>
		<%= f.text_field :collocation, placeholder: 'Paste Collocation...', class: 'form-control' %>
		<%= f.submit "Submit", :disable_with => 'Submiting...', class: 'btn btn-default' %>

	</div>
	
<% end %>

<!-- , value: @playlist_video.id -->