<div class="study_pages index">
	<div class="container">
		<h1>Study Now</h1>

			<div class="form-group select_language">
				<h3>What language?</h3>
				<%
				userLanguages = Array.new()
				Language.all.each do |l|
					@user.playlist_videos.each do |pv|
						userLanguages << Language.find(Video.find(pv.video_id).language_id)
					end
				end
				userLanguages = userLanguages.uniq
				%>
				<% if userLanguages.count > 0 %>
					<%= collection_select(:language, :id, userLanguages, :id, :name, {:include_blank => true}, class: 'form-control') %>
				<% else %>
					<p>You have no videos in your playlist!</p>	
				<% end %>
			</div>

		<%= form_tag action: 'shadowing' do %>

			<div class="form-group select_time">
				<h3>How long?</h3>
				<%= select :foo, :study_time, 1..60,{}, class: 'study_time form-control' %> <span>minutes</span>
			</div>

			<div class="form-group select_video">
				<h3>Select Playlist Video</h3>

				<table class="table">	
					<thead>
						<th style="display:none;">Selected</th>
						<th></th>
						<th>Topic</th>
						<th>Speaker</th>
					</thead>
					<% @user.playlist_videos.each do |playlist_video| %>
					<% 
					video = Video.find(playlist_video.video_id)
					url_queries = Rack::Utils.parse_query URI(video.original_url).query
    			video_url = url_queries["v"] 
    			%>
					<tr class="study_video_instance">
						<td style="display:none;"><%= radio_button_tag "playlist_video", "#{playlist_video.id}" %></td>
						<td><img src=<%= get_thumbnail(video_url) %> alt=""></td>
						<td><%= Topic.find(Video.find(playlist_video.video_id).topic_id).name %></td>
						<td><%= full_name_of(Speaker.find(Video.find(playlist_video.video_id).speaker_id)) %></td>
					</tr>
					<% end %>
				</table>

			</div>

			<!-- get native button -->
			<div class="form-group submit_button"><%= submit_tag "Get_Native!", class: "btn btn-primary btn-lg btn-block" %></div>


		<% end %>


	</div>
</div>