<div class="study_pages index container">

	<h1>Study Now</h1>


	<!--
	/**
	*
	* User selects a language
	*
	**/
	-->

	<div class="form-group select_language">

		<h3>What language?</h3>

		 <%= render partial: "shared/studyPages/indexSelectLanguage", 
		 						locals: { 
		 							playlistVideoLanguages: @playlistVideoLanguages,
		 							playlistVideoLanguagesCount: @playlistVideoLanguages.count,
		 							lang: @lang,
		 							langId: @langId,
		 							include_blank: @include_blank
		 							} %>
	</div>


	<!--
	/**
	*
	* Once user selects a language
	*
	**/
	-->
	
	<% if @lang %>




		<!--
		/**
		*
		* Form:
		*
		*   - playlist video table
		*   - select box for study time
		*   - submit button
		*
		**/
		-->

		<%= form_tag action: 'shadowing' do %>






			<!--
			/**
			*
			* User selects a playlist video
			*
			**/
			-->

			<div class="form-group select_video">

				<h3>Select Playlist Video</h3>

				<%= render 	partial: "shared/studyPages/indexSelectVideoTable",
										locals: { languageSpecificPlaylistVideos: @languageSpecificPlaylistVideos } %>

			</div>




			<!--
			/**
			*
			* User selects length of study
			*
			**/
			-->

			<div class="form-group select_time">

				<h3>How long?</h3>

				<%= select 	:foo, 
										:study_time, 
										1..30, 
										{selected: 15}, 
										class: 'study_time form-control' 
										%> <span>minutes</span>

			</div>



			<!--
			/**
			*
			* Submit button starts study
			*
			**/
			-->

			<div class="form-group study submit_button">
				<%= submit_tag "Get_Native!", class: "btn btn-primary btn-lg btn-block" %>
			</div>



		
		<% end %> <!-- end form -->
	<% end %> <!-- end if @lang -->
</div> <!-- div.container -->