<%= render 'shared/studyPages/setVideoUrl' %>
<div class="study_pages speaking main">
	<div class="container">

		<h1>Speaking</h1>

		<button type="button" id="speakingPopover" class="btn btn-default ppover">Instructions <span class="caret"></span></button>

		<div class="main_video_content">
		
			<div class="video_instance">
				<div class="video-container">
					<div id="player" style="pointer-events:auto;"></div>
					<%= render 'shared/studyPages/overlays' %>
				</div>
				<%= render 'shared/studyPages/videoInfo' %>
			</div>

			<div class="scripts">
				<ul class="nav nav-tabs script_tabs">
				  <li role="presentation" id="japanese_script_tab" class="active"><a href="#">Japanese</a></li>
				  <li role="presentation" id="english_script_tab"><a href="#">English</a></li>
				  <li role="presentation" id="spanish_script_tab"><a href="#">Spanish</a></li>
				  <li role="presentation" id="na"><a href="#">N/A</a></li>
				  <li role="presentation" id="collocations_tab"><a href="#">Collocations</a></li>
				</ul>
				<div class="script" id="japanese_script"><%= @video.japanese_script %></div>
				<div class="script" id="english_script"><%= @video.english_script %></div>
				<div class="script" id="spanish_script"><%= @video.spanish_script %></div>
				<div class="script" id="empty_script_tab"></div>
				<div class="script" id="collocations">

					<ul id="collocation_list">
						<!-- render partial: "shared/collocations", locals: { playlist_video: @playlist_video } -->
						<% @collocations.each do |collocation| %>
							<li class="collocation_first"><%= collocation.collocation %></li>
							<li class="well well-sm collocation_well"><%= collocation.context %></li>
						<% end %>
					</ul>
					  
				</div> <!-- collocation -->
			</div> <!-- scripts -->


		</div> <!-- main_video_content -->
	</div> <!-- container -->
</div>