<div class="study_pages writing main">
	<div class="container">
		<h1>Writing</h1>
		<script>
			study_time = <%= @time %>
		</script>
		<span class="countdown"></span>
		<button class="play_pause">Play/Pause</button>
		<span class="paused_alert">PAUSED</span>
		<%= form_tag action: 'submit_writing' do %>
		  <div class="form-group">
		  	<%= label_tag :message %>
		  	<%= text_area_tag :message, "", rows: 10, class: 'form-control' %>
		  	<%= submit_tag "Check screen", class: "btn btn-default" %>
		  </div>
		<% end %>
	</div>
</div>