<div class="nav_row row">
	<div class="button_container col-sm-12">
		<ul class="nav nav-tabs">
		  <li role="presentation"><%= link_to "Account", :action => 'index', :view => 'account_info' %></li>
		  <li role="presentation"><%= link_to "Progress", :action => 'index', :view => 'progress' %></li>
		  <li role="presentation"><%= link_to "Collocations", :action => 'index', :view => 'collocations' %></li>
		  <li role="presentation"><%= link_to "Words", :action => 'index', :view => 'words' %></li>	
		  <li role="presentation"><%= link_to "Playlist", :action => 'index', :view => 'playlist' %></li>
		</ul> <!-- nav nav-pills -->
	</div> <!-- button_container col-sm-12 -->
</div> <!-- nav_row row -->