<div class="info_column col-md-6 col-sm-7">
	<h2>Account</h2>
	<hr>
		<table class="table table-hover table-bordered">
			<tr>
				<th>First Name</th>
				<td><%= @current_user_admin.first_name %></td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td><%= @current_user_admin.last_name %></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><%= @current_user_admin.email %></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><i>it's a secret!</i></td>
			</tr>
		</table>

		<%= link_to :controller => 'users', :action => 'edit', :id => @current_user_admin.id do %>
			<button class="btn btn-primary">Edit <span class="glyphicon glyphicon-edit"></span></button>
		<% end %>

	<hr>
	<div class="delete_account">
		<p>Unhappy?</p>
		<%= link_to "Delete account", :controller => "users", :action => "delete" %>
	</div>
</div> <!-- info_column col-sm-7 -->