<div class="info_column col-md-6 col-sm-7">
	<h2>Collocations</h2>
	<hr>

<% @playlist_videos.each do |playlist_video| %>

	<% @collocations.where(video_id: playlist_video.video_id).each do |collocation| %>

		<ul class="collocation_instance" id="collocation<%= collocation.id %>">

			<!-- text -->
			<li class="collocation_first"><%= collocation.collocation %></li>

			<!-- well -->
			<li class="well well-sm collocation_well"><%= collocation.context %></li>

			<!-- links -->
			<li class="collocation_video_info">

			<% 
			video = Video.find(playlist_video.video_id)
			topic = Topic.find(video.topic_id)
			speaker = Speaker.find(video.speaker_id)
			language = Language.find(video.language_id)
			%>

				<%= link_to language_videos_path(language.id) do %><%= language.name %><% end %> |

				<%= link_to language_video_path(language.id, video.id) do %>Video<% end %> |

				<%= link_to language_topic_path(language.id, topic.id) do %><%= topic.name %><% end %> |

				<%= link_to language_speaker_path(language.id, speaker.id) do %><%= full_name_of(speaker) %><% end %> |

				<%= link_to "remove", collocation_path(collocation.id), 
					remote: true, 
					method: 'delete', 
					onclick: "return confirm(\"Are you sure?\")" 
					%>

			</li>
		</ul>
	<% end %>
<% end %>




</div> <!-- info_column col-sm-7 -->