<div class="info_column col-md-6 col-sm-7">
	<h2>Playlist</h2>
	


	<table class="table table-hover">
		<tr>
			<th>Video</th>
			<th>Topic</th>
			<th>Speaker</th>
			<th>Actions</th>
		</tr>
		<% if @user.playlists.first %>
		<% my_playlist = @user.playlists.first %>
		<% my_playlist.videos.each do |video| %>
			<tr>
				<td>
					<%= link_to video_path(video.id) do %>
					<img src="http://placehold.it/64x36" alt="<%= video.id %>">
					<% end %>
				</td>
				<td>
					<%= link_to topic_path(Video.find(video.id).topic_id) do %>
					<%= Topic.find(Video.find(video.id).topic_id).name %>
					<% end %>
				</td>
				<td>
					<%= link_to speaker_path(Video.find(video.id).speaker_id) do %>
					<%= full_name_of(Speaker.find(Video.find(video.id).speaker_id)) %>
					<% end %>
				</td>
				<td>
					<% playlist_video = PlaylistVideo.find_by(video_id: video.id) %>
					<%= link_to "Remove", controller: 'playlist_videos', action: 'delete', id: playlist_video.id %>
				</td>
			</tr>
		<% end %>
		<% else %>
			<tr>
				<td>no</td>
				<td>data</td>
				<td>yet.</td>
			</tr>
		<% end %>
	</table>

</div> <!-- info_column col-sm-7 -->