<div class="info_column col-md-6 col-sm-7">
	<h2>Playlist</h2>
	

	<% if @user_playlist.videos.count < 1 %>
		<p>You haven't added any videos to your playlist yet!</p>
		<%= link_to "Browse Videos!", topics_path %>
	<% else %>

	<table class="table table-hover">
		<tr>
			<th>Video</th>
			<th>Topic</th>
			<th>Speaker</th>
			<th>Actions</th>
		</tr>

		<% @user_playlist.videos.each do |video| %>
			<% 
			url_queries = Rack::Utils.parse_query URI(video.original_url).query
			video_url = url_queries["v"] 
			%>
			<tr>
				<td>
					<%= link_to video_path(video.id) do %>
					<img src=<%= get_thumbnail(video_url) %> alt="<%= video.id %>">
					<% end %>
				</td>
				<td>
					<%= link_to topic_path(Video.find(video.id).topic_id) do %>
					<%= Topic.find(Video.find(video.id).topic_id).name %>
					<% end %>
				</td>
				<td>
					<%= link_to speaker_path(Video.find(video.id).speaker_id) do %>
					<%= full_name_of(Speaker.find(Video.find(video.id).speaker_id)) %>
					<% end %>
				</td>
				<td>
					<% playlist_video = PlaylistVideo.find_by(video_id: video.id) %>
					<%= link_to "Remove", controller: 'playlist_videos', action: 'delete', id: playlist_video.id %>
				</td>
			</tr>
		<% end %>

	</table>

	<% end %>

</div> <!-- info_column col-sm-7 -->