<div class="shared profile speakers col-md-6 col-sm-7">
	<h2>Speakers</h2>
	<%= link_to "+ Add Speaker", controller: 'speakers', action: 'add' %>
	<div id="searcharea">
    <input type="search" name="search" id="search" class="form-control" placeholder="Search speakers by name...">
  </div>
  <div id="update"></div>
	<table class="table table-hover">
		<tr>
		<!-- depending on how speakers are sorted, add 'caret' class to spans // default is 'name' -->
			<th class="topic_sorter">Name <span class="caret"></span></th>
			<th class="topic_sorter"># of Videos <span class=""></span></th>
			<th class="topic_sorter">Native Language <span class=""></span></th>
			<th>Actions</th>
		</tr>
		<% if @speakers %>
		<% @speakers.each do |speaker| %>
		<tr>
			<td><%= full_name_of(speaker) %></td>
			<td><%= "speaker.videos.count" %></td>
			<td>
			<% @languages.each do |language| %>
			<% if language.id == speaker.language_id %>
				<%= language.name %>
			<% end %>
			<% end %>
			</td>
			<td>
				<%= link_to "View", controller: 'speakers', action: 'show', id: speaker.id %>
				<%= link_to "Edit", controller: 'speakers', action: 'edit', id: speaker.id %>
				<%= link_to "Delete", controller: 'speakers', action: 'delete', id: speaker.id %>
			</td>
		</tr>
		<% end %>
		<% end %>
	</table>
</div>