<div class="shared profile_topics main col-sm-12">
	<h2><strong>Topics</strong>&nbsp;<small><%= link_to "+ New", new_topic_path %></small></h2>
	
<!-- 	<div id="searcharea">
    <input type="search" name="search" id="search" class="form-control" placeholder="Search topics by name...">
  </div>
  <div id="update"></div> -->
	<table class="table table-hover">
		<thead>
		<!-- depending on how topics are sorted, add 'caret' class to spans // default is 'name' -->
			<th class="topic_sorter">Name <span class="caret"></span></th>
			<th class="topic_sorter"># of Videos <span class=""></span></th>
			<th>Actions</th>
		</thead>
		<% if @topics %>
		<% @topics.each do |topic| %>
		<tr>
			<td><%= topic.name %></td>
			<td><%= topic.videos.count %></td>
			<td>
				<%= link_to "View", controller: 'topics', action: 'show', id: topic.id %>
				<%= link_to "Edit", controller: 'topics', action: 'edit', id: topic.id %>
				<%= link_to "Delete", controller: 'topics', action: 'delete', id: topic.id %>
			</td>
		</tr>
		<% end %>
		<% end %>
	</table>
</div>