<div class="speakers edit main">
	<div class="container">
		<h1>Edit Speaker: <%= full_name_of(@speaker) %></h1>
		<p>
			<%= link_to controller: 'speakers', action: 'index' do %>
				<span class="glyphicon glyphicon-backward"></span>
				All Speakers
			<% end %>
		</p>
		<table class="table">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Native Language</th>
				<th># of Videos</th>
				<th>Gender</th>
				<th>Age</th>
				<th>Created at</th>
				<th>Updated at</th>
				<th>Actions</th>
			</tr>
			<% if @speaker %>
			<tr>
				<td><%= @speaker.id %></td>
				<td><%= full_name_of(@speaker) %></td>
				<td>
					<% Language.all.each do |language| %>
						<% if @speaker.language_id == language.id %>
							<% @native_language = language.name %>
							<%= @native_language %>						
						<% end %>
					<% end %>
				</td>
				<td><%= @speaker.videos.count %></td>
				<td><%= @speaker.gender ? 'Male' : 'Female' %></td>
				<td><%= age_range_of(@speaker) %></td>
				<td><%= @speaker.created_at %></td>
				<td><%= @speaker.updated_at %></td>
				<td>
					<%= link_to "View", controller: 'speakers', action: 'show', id: @speaker.id %>
					<%= link_to "Delete", controller: 'speakers', action: 'delete', id: @speaker.id %>
				</td>
			</tr>
			<% end %>
		</table>
		<hr>

		<%= form_for :speaker, url: { controller: 'speakers', action: 'update', id: @speaker.id } do |f| %>

			<div class="form-group">
				<%= f.label :first_name %>
				<%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
			</div>

			<div class="form-group">
				<%= f.label :last_name %>
				<%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
			</div>

			<div class="form-group">
				<%= f.label :language_id, "Native Language" %>
				<%= collection_select(:speaker, :language_id, Language.order("languages.name ASC"), :id, :name, {}, { class: 'form-control' }) %>
			</div>

			<div class="form-group">
				<%= f.radio_button :gender, true, checked: (@speaker.gender) %>
				<%= f.label :gender_true, "Male" %>
				<br>
				<%= f.radio_button :gender, false, checked: (!@speaker.gender) %>
				<%= f.label :gender_false, "Female" %>
			</div>

			<div class="form-group">
				<%= f.label :age, "Age Range" %>
				<%= f.select :age, html: { class: 'form-control' } do %>
				  <% @age_ranges.each do |val| -%>
				    <%= content_tag :option, val, value: @age_ranges.index(val) %>
				  <% end %>
				<% end %>
			</div>

			<div class="form-group">
				<%= f.submit "Update", :disable_with => 'Updating...', class: 'btn btn-primary' %>
			</div>

			
		<% end %>
	</div>
</div>