<div class="speakers index main">
	<div class="container">
		
	<h1>All Speakers</h1>

		<% if @layout_style == 'Admin' %>
			<%= link_to "+ Add speaker", controller: 'speakers', action: 'add' %>
		<% end %>

		<div id="searcharea">
	    <input type="search" name="search" id="search" class="form-control" placeholder="Speaker name...">
	  </div>
	  <div id="update"></div>

	<table class="table">
		<tr>
			<% @abc.each do |letter| %>
				<th><a href="#<%= letter %>"><%= letter %></a></th>
			<% end %>
		</tr>
	</table>


	<table class="table table-hover">


		<tr>
			<th>First Name A~Z</th>
			<th>Native Language</th>
			<th># of Videos</th>
			<% if @layout_style == 'Admin' %>
			<th>Actions</th>
			<% end %>
		</tr>
		
		<% @abc.each do |letter| %>

		<tr>
			<th><a href="#<%= letter %>" id="<%= letter %>"><strong><%= letter %></strong></a></th>
			<th><a href="#">
				
			</a></th>
			<th><a href="#">( <%= rand(99) %> )</a></th>
			<% if @layout_style == 'Admin' %>
			<th></th>
			<% end %>
		</tr>

			<% @speakers.each do |speaker| %>
				<tr>
					<% if speaker.first_name[0] == letter %>
					<td><%= full_name_of(speaker) %></td>
					<td><a href="#">
						<% Language.all.each do |language| %>
							<% if speaker.language_id == language.id %>
								<%= language.name %>						
							<% end %>
						<% end %>
					</a></td>
					<td><a href="#">( <%= rand(1..9) %> )</a></td>
					<% if @layout_style == 'Admin' %>
					<td>
						<%= link_to "View", controller: 'speakers', action: 'show', id: speaker.id %>
						<%= link_to "Edit", controller: 'speakers', action: 'edit', id: speaker.id %>
						<%= link_to "Delete", controller: 'speakers', action: 'delete', id: speaker.id %>
					</td>
					<% end %>
					<% end %>
				</tr>
			<% end %>

		<% end %>


	</table>

	<table class="table">
		<tr>
			<% @abc.each do |letter| %>
				<th><a href="#<%= letter %>"><%= letter %></a></th>
			<% end %>
		</tr>
	</table>
	</div>
</div>