<div class="languages speakers main">
	<div class="container">

		<h1><%= link_to language_path(@language.id) do %><%= @language.name %><% end %> <small>speakers</small></h1>

		<%= render 'shared/language_index_options' %>

		<hr>
		
		<table class="table">

			<thead>
				<th></th>
				<th>Name</th>
				<th>Age</th>
				<th>Gender</th>
				<th>Video Count</th>
			</thead>

			<% @language.speakers.order("speakers.first_name ASC").each do |speaker| %>
			<tr>
				<td>
				<% video = speaker.videos.first %>
				<% 
				url_queries = Rack::Utils.parse_query URI(video.original_url).query
				video_url = url_queries["v"] 
				%>
				<%= link_to controller: 'speakers', action: 'show', id: speaker.id do %>
					<img src=<%= getThumbnail(video_url) %> alt="">
				<% end %>
				</td>
				<td>
					<%= link_to language_speaker_path(@language.id, speaker.id) do %>
						<%= full_name_of(speaker) %>
					<% end %>
				</td>
				<td><%= age_range_of(speaker) %></td>
				<td><%= speaker.gender ? 'Male' : 'Female' %></td>
				<td><%= speaker.videos.count %></td>
			</tr>
			<% end %>
		</table>

	</div>
</div>