<div class="speakers index main">
<div class="container">
		
	<h1>
	<%= link_to "Topics", topics_path %>
	|
	<strong>Speakers</strong>
	|
	<%= link_to "Languages", languages_path %>
</h1>
	<h4><%= pluralize(@speakers.size, "speaker") %></h4>

		<% if @layout_style == 'Admin' %>
			<p><%= link_to "+ Add speaker", controller: 'speakers', action: 'add' %></p>
		<% end %>

		<!-- <div id="searcharea">
	    <input type="search" name="search" id="search" class="form-control" placeholder="Speaker name...">
	  </div>
	  <div id="update"></div> -->

	<div class="table-responsive">
		<table class="table">
			<tr>
				<% @abc.each do |letter| %>
					<th><a href="#<%= letter %>"><%= letter %></a></th>
				<% end %>
			</tr>
		</table>
	</div>


	<table class="table table-hover">


		<tr>
			<th>First Name A~Z</th>
			<th>Native Language</th>
			<th># of Videos</th>
			<% if @layout_style == 'Admin' %>
			<th>Actions</th>
			<% end %>
		</tr>
		
		<% @abc.each do |letter| %>

		<tr>
			<th><a href="#<%= letter %>" id="<%= letter %>"><strong><%= letter %></strong></a></th>
			<th><a href="#">
				
			</a></th>
			<th></th>
			<% if @layout_style == 'Admin' %>
			<th></th>
			<% end %>
		</tr>

			<% @speakers.each do |speaker| %>
				<tr>
					<% if speaker.first_name[0] == letter %>
					<td><%= link_to controller: 'speakers', action: 'show', id: speaker.id do %><%= full_name_of(speaker) %><% end %></td>
					<td><a href="#">
						<% Language.all.each do |language| %>
							<% if speaker.language_id == language.id %>
								<%= link_to "#{language.name}", controller: 'languages', action: 'show', id: language.id %>						
							<% end %>
						<% end %>
					</a></td>
					<td><%= speaker.videos.count %></td>
					<% if @layout_style == 'Admin' %>
					<td>
						<%= link_to "Edit", controller: 'speakers', action: 'edit', id: speaker.id %>
						<%= link_to "Delete", controller: 'speakers', action: 'delete', id: speaker.id %>
					</td>
					<% end %>
					<% end %>
				</tr>
			<% end %>

		<% end %>


	</table>

	<div class="table-responsive">
		<table class="table">
			<tr>
				<% @abc.each do |letter| %>
					<th><a href="#<%= letter %>"><%= letter %></a></th>
				<% end %>
			</tr>
		</table>
	</div>
</div>
</div>