<div class="speakers add main">
	<div class="container">
		<!-- <h1>Add Speaker</h1> -->
		<ol class="breadcrumb row">
			<li><%= link_to "Speakers", speakers_path %></li>
			<li class="active">New Speaker</li>
		</ol>
		<%= form_for @speaker do |f| %>

		<%= error_messages_for(@speaker) %>

			<div class="form-group">
				<%= f.label :first_name %>
				<%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
			</div>

			<div class="form-group">
				<%= f.label :last_name %>
				<%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
			</div>

			<div class="form-group">
				<%= f.label :language_id, "Native Language" %>
				<%= collection_select(:speaker, :language_id, Language.order("languages.name ASC"), :id, :name, {}, { class: 'form-control' }) %>
			</div>

			<div class="form-group">
				<h3>Gender</h3>
				<%= f.radio_button :gender, 1, checked: true %>
				<%= f.label :gender_1, "Male" %>
				<br>
				<%= f.radio_button :gender, 0 %>
				<%= f.label :gender_0, "Female" %>
			</div>

			<div class="form-group">
				<h3>Age Range</h3>
				<%= f.radio_button :age, 0 %>
				<%= f.label :age_0, "0~19" %>
				<br>
				<%= f.radio_button :age, 1, checked: true %>
				<%= f.label :age_1, "20~29" %>
				<br>
				<%= f.radio_button :age, 2 %>
				<%= f.label :age_2, "30~39" %>
				<br>
				<%= f.radio_button :age, 3 %>
				<%= f.label :age_3, "40~49" %>
				<br>
				<%= f.radio_button :age, 4 %>
				<%= f.label :age_4, "50~64" %>
				<br>
				<%= f.radio_button :age, 5 %>
				<%= f.label :age_5, "65+" %>
			</div>

			<div class="form-group">
				<%= f.submit "Submit", :disable_with => 'Submitting...', class: 'btn btn-primary' %>
			</div>

			
		<% end %>
	</div>
</div>