<div class="speakers show main">
	<div class="container">
		
		<section class="item-nav">
			<h1>
				<%= link_to language_path(@language.id) do %>
					<%= @language.name %>
				<% end %>
				<small>
					<%= link_to language_speakers_path(@language.id) do %>
						speakers
					<% end %>
				</small>
			</h1>
			<span><%= full_name_of(@speaker) %></span>
		</section>



		<h3>About</h3>
		<div class="about_speaker row">	
			<% video = @videos.first %><% url_queries = Rack::Utils.parse_query URI(video.original_url).query; video_url = url_queries["v"] %>
			<%= image_tag get_thumbnail(video_url), class: 'col-sm-2' %>
			<p class="col-sm-10" style="float:right;"><%= @speaker.about %></p>
		</div>



		<dl class="dl-horizontal">
		  <dt>Name</dt>
		  <dd><%= full_name_of(@speaker) %></dd>
		  <dt>Language</dt>
		  <dd><%= Language.find(@speaker.language_id).name %></dd>
		  <dt>Videos</dt>
		  <dd><%= @speaker.videos.count %></dd>
		  <dt>Gender</dt>
		  <dd><%= @speaker.gender ? 'Male' : 'Female' %></dd>
		  <dt>Age</dt>
		  <dd><%= age_range_of(@speaker) %></dd>
		</dl>



		<h3>Videos</h3>
		<table class="table">
			<thead>
				<th>Thumbnail</th>
				<th>Topic</th>
				<th>Duration</th>
			</thead>
				<% @videos.each do |video| %>
					<% 
					url_queries = Rack::Utils.parse_query URI(video.original_url).query
    			video_url = url_queries["v"] 
    			%>
					<% if video.speaker_id == @speaker.id %>
						<tr>
							<td><%= link_to language_video_path(@language.id, video.id) do %><img src=<%= get_thumbnail(video_url) %> alt=""><% end %></td>
							<td><%= link_to language_topic_path(@language.id, video.topic.id) do %><%= video.topic.name %><% end %></td>
							<td>duration...</td>
						</tr>
					<% end %>
				<% end %>
			</table>
		</table>
	</div>
</div>
