<!DOCTYPE html>
<html>
<head>
  <title>Get_Native.com:
  <% if @layout_style == 'User' %>
  	User
  <% elsif @layout_style == 'Admin' %>
  	Admin
	<% else %>
		Public
  <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>

<%= render 'application/header', current_user_admin: @current_user_admin %>

<%= render 'application/flash_display' %>

<%= yield %>

<%= render 'application/footer' %>

</body>
</html>
